body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  max-width: 100%;
  margin: auto;
  max-height: 100%;
}

.left-column {
  flex: 1;
  max-width: 40%;
  padding: 20px;
  color: #000000;
}

.right-column {
  flex: 2;
  padding: 20px;
  background-color: #fff;
}

img {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
}

h1 {
  color: #333;
}

p {
  line-height: 1.6;
  color: #555;
}

ul {
  line-height: 1.6;
  color: #555;
}

ol {
  line-height: 1.6;
  color: #555;
}

nav {
  background-color: #333; /* Set background color */
  padding: 10px; /* Add some padding for better appearance */
  text-align: center; /* Center align the items */
}

/* Style for the menu items */
nav a {
  color: rgb(0, 0, 0); /* Set text color */
  text-decoration: none; /* Remove underline from links */
  margin: 0 15px; /* Add some space between links */
  font-size: 16px; /* Set font size */
}

h2{
  margin-bottom: 0.5;
}